# General Ignores
*~
.#*
*.
*.slo
*.mk
*.mem
*.gcda
*.gcno
*.la
*.lo
*.loT
*.o
*.a
*.ncb
*.opt
*.plg
*swp
*.patch
*.tgz
*.tar.gz
*.tar.bz2
.FBCIndex
.FBCLockFolder
.deps
.libs
phpt.*
core
dynlib.m4
Debug
Debug_TS
Makefile
Makefile.fragments
Makefile.objects
Makefile.global
Release
Release_TS
Release_TSDbg
Release_TS_inline
Release_inline
_libs
acconfig.h
aclocal.m4
acinclude.m4
autom4te.cache
bsd_converted
buildconf.stamp
buildmk.stamp
confdefs.h
config.h
config.guess
config.cache
config.h.in
config.log
config.nice
config.nice.bat
config.status
config.sub
config_vars.mk
configuration-parser.c
configuration-parser.h
configuration-parser.output
configuration-scanner.c
configure
configure.bat
configure.js
configure.n
conftest
conftest.c
debug.log
diff
generated_lists
include
install-sh
internal_functions.c
lcov_data
lcov_html
libs
libtool
meta_cc
meta_ccld
missing
mkinstalldirs
modules
shlibtool
.cproject
.project
.settings

# Test specific Ignores
tests/*.diff
tests/*.out
tests/*.php
tests/*.exp
tests/*.log
tests/*.sh
run-tests.php

# Extension specifc ignores
configure.in
ltmain.sh
ltmain.sh.backup
libs.mk
build
scan_makefile_in.awk
Makefile.global
acinclude.m4
config.sub

# Debug Specific Ignores
debug/
.autotools

# coverage
report/
coverage.info
